/runs/*
!/runs/.gitkeep
/testcase/*
!/testcase/.gitkeep
/packaging_v0/*
!/packaging_v0/.gitkeep
/build/*
!/build/.gitkeep
/dist/*
!/dist/.gitkeep
/submission/*
!/submission/.gitkeep

TODO.md
Prompt.txt
A_20260212.pdf
*:Zone.Identifier
parsetab.py
__pycache__/
*.pyc
